Questions 1,2,3:

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

#1,2,3 Questions

df['FlightNumber']=df['FlightNumber'].interpolate()
df['FlightNumber']=np.int64(df['FlightNumber'])
df[["From","To"]]=df.From_To.str.split("_",expand=True)
df["From"]=df["From"].str.capitalize()
df["To"]=df["To"].str.capitalize()
df.drop(columns=['From_To'],inplace=True)
df

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

Questions 4 and 5:

In [2]:
#4 Question
delays=pd.DataFrame(df['RecentDelays'])
delays[["delay_1","delay_2","delay_3"]]=pd.DataFrame(df.RecentDelays.tolist(),index=df.index)
delays.rename(columns={"RecentDelays":'Delays'},inplace=True)
#delays.join(df)
df.drop(columns=['RecentDelays'],inplace=True)
df.join(delays)

,FlightNumber,Airline,From,To,Delays,delay_1,delay_2,delay_3
0,10045,KLM(!),London,Paris,"[23, 47]",23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,[],NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,"[24, 43, 87]",24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,[13],13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,"[67, 32]",67.0,32.0,NaN